@mixin webkits($atributte,$value) {
  $values: ('-webkit-', '-moz-', '-o-', '');
  @each $item in $values{
    #{$item}#{$atributte}: $value;
  }
}
@mixin rigthR(){
	0% {
		opacity: 1;    
		@include webkits(transform, translateX(-50%) scale(1));
		z-index: 90;
				  }
	30%{
	    opacity:1;		            
		@include webkits(transform, translateX(10%) scale(0.94));
		z-index: 50;
	}
	100% {
		opacity: .4;
		@include webkits(transform, translateX(0%) scale(0.9));
		z-index: 0;
	}	
}
@mixin rigthL(){
	0% {
	    left: 50%;
		opacity: .1;
		@include webkits(transform, translateX(0%) scale(0.9));
		z-index: 0;
	}
	100% {
		left: 50%;
		opacity: .4;
		z-index: 0;
		@include webkits(transform, translateX(-100%) scale(0.9));
	}
}
@mixin rightC(){
	0% {
		left: 50%;
		opacity: .4;
		z-index: 0;
		@include webkits(transform, translateX(-100%) scale(0.9));
	}
    20%{
        left: 50%;
        opacity:1;	
		z-index: 0;
		@include webkits(transform, translateX(-110%) scale(0.94));
		z-index: 50;
    }
	100% {
		left: 50%;
		@include webkits(transform, translateX(-50%));
		z-index: 90;
	}
}
@mixin leftL(){
	0% {        
		left: 50%;
		opacity: 1;    
		@include webkits(transform, translateX(-50%) scale(1));
		z-index: 90;
	}
    30%{		
        left: 50%;	
        opacity: 1;
		z-index: 0;
		@include webkits(transform, translateX(-110%) scale(0.94));
		z-index: 50;
    }
	100% {
		left: 50%;	
		opacity: .4;
		z-index: 0;
		@include webkits(transform, translateX(-100%) scale(0.9));
	}
}
@mixin LeftR(){
	0% {
		    left: 50%;
			opacity: .1;
		    z-index: 0;
		    @include webkits(transform, translateX(-100%) scale(0.9));
			}
			100% {
			left: 50%;
			opacity: .4;
			@include webkits(transform, translateX(0%) scale(0.9));
			z-index: 0;
			}
}
@mixin leftC(){
	0% {
			   opacity: .4;
			   @include webkits(transform, translateX(0%) scale(0.9));
			   z-index: 0;
			}
            20%{		
		       opacity: 1;		
		       @include webkits(transform, translateX(10%) scale(0.94));
			   z-index: 0;
            }
			100% {
			    opacity: 1;
			    @include webkits(transform, translateX(-50%));
			    z-index: 90;
			}
}
@mixin arrow(){
	cursor: pointer;
	top: 50%;
	width: 5%;
	position: absolute;
	z-index: 201;
}
  body{
    background: #151515;
    margin:0;
  }
.container_carru{
	background: #151515;
	position: relative;
	#actions{
		#arrowrigth .arrowrigth{
			@include arrow();
			right: 10px;
			@include webkits(transform, rotate(268deg));
	    }
	    #arrowleft .arrowleft{
	    	@include arrow();
	    	left: 10px;
		    @include webkits(transform, rotate(90deg));
	    }
	}/*cierre actions*/
  
  
	#items{
	padding: 5%;
	cursor: move;
	z-index: 200;
	overflow: hidden;
	height: 750px;
    position: relative;
    @media only screen and (max-width: 2150px) {
        height: 630px;
    }
    @media only screen and (max-width: 2000px) {
        height: 570px;
    }
    @media only screen and (max-width: 1900px) { 
        height: 540px;
    }
    @media only screen and (max-width: 1780px) { 
        height: 500px;
    }
    @media only screen and (max-width: 1680px) { 
        height: 470px;
    }
    @media only screen and (max-width: 1565px) { 
        height: 420px;
    }
    @media only screen and (max-width: 1430px) { 
        height: 390px;
    }
    @media only screen and (max-width: 1330px) { 
        height: 360px;
    }
    @media only screen and (max-width: 1230px){ 
	    height: 330px;
	}
	@media only screen and (max-width: 970px){ 
        height: 310px;
	}
	@media only screen and (max-width: 875px){ 
        height: 270px;
	}
	@media only screen and (max-width: 785px){ 
        height: 240px;
    }
    @media only screen and (max-width: 700px){ 
        height: 235px;
    }
	@media only screen and (max-width: 640px){ 
        height: 150px;	            
	}
	@media only screen and (max-width: 400px){ 
        height: 125px;	            
	}
		#item{
			display: none;
			height: 80%;
			position: absolute;
		}
		.img_left{
			display: block!important;
			left: 50%;
			opacity: .4;
			z-index: 0;
			@include webkits(transform, translateX(-100%) scale(0.9));
		}	      
	    .img_rigth {
	    	display: block!important;
	    	left: 50%;
	    	opacity: .4;
			@include webkits(transform, translateX(0%) scale(0.9));
			z-index: 0;
		}
	    .img_center{
	    	display: block!important;
	    	left: 50%;
			@include webkits(transform, translateX(-50%) scale(1));
			z-index: 90;
	    }
	    .animaterigthR{
		    @include webkits(animation-name, rigthR);
		    @include webkits(animation-duration, 1s);
		    @include webkits(animation-timing-function, ease);
	    }
		@keyframes rigthR {
			@include rigthR();
		}
		@-webkit-keyframes rigthR {
			@include rigthR();
		}
		.animaterigthL{
			@include webkits(animation-name, rigthL);
		    @include webkits(animation-duration, 1s);
		    @include webkits(animation-timing-function, ease);
		}
		@keyframes rigthL {
		    @include rigthL();
		}
		@-webkit-keyframes rigthL {
			@include rigthL();
		}
		.animaterigthC{		
			@include webkits(animation-name, rigthC);
		    @include webkits(animation-duration, 1s);
		    @include webkits(animation-timing-function, ease);	
	    }
		@keyframes rigthC{
			@include rightC();
		}
	    @-webkit-keyframes rigthC{
			@include rightC();	
		}
		/*lado izquierdo*/
		.animateleftL{
			@include webkits(animation-name, leftL);
		    @include webkits(animation-duration, 1s);
		    @include webkits(animation-timing-function, ease);	
	    }
		@keyframes leftL {
		    @include leftL();
		}
		@-webkit-keyframes leftL {
			@include leftL();	
		}
		.animateleftR{
		    @include webkits(animation-name, leftR);
		    @include webkits(animation-duration, 1s);
		    @include webkits(animation-timing-function, ease);	
		}
		@keyframes leftR {
			@include LeftR();
		}
		@-webkit-keyframes leftR {
			@include LeftR();
		}
		.animateleftC{
			@include webkits(animation-name, leftC);
		    @include webkits(animation-duration, 1s);
		    @include webkits(animation-timing-function, ease);	
	    }
			
		@-webkit-keyframes leftC{
			@include leftC();	
		}
			@keyframes leftC{
			@include leftC();
		}
	}/*cierre items*/
}

.redes{
      display: flex;
    margin: 0;
    list-style: none;
    justify-content: center;
    margin-top: 40px;
  padding: 0;
      flex-wrap: wrap;
  li{
    box-shadow: 0px 0px 5px 0px #f1e42cb2;
    background: #1b1b1b;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 8px;
    border-radius: 50%;
     transition:all 600ms;
      -webkit-transition:all 600ms;
    &.titulo{
      width: 100%;
      text-align: center;
      height: auto;
      background: none;
      margin-bottom: 15px;
      border-radius: 0;
      color:white;
      box-shadow:none;
    }
    &:hover:not(.titulo){
      transform:scale(1.1);
      -webkit-transform:scale(1.1);
    }
    img{
      top:50%;
      transform:translate(-50%,-50%);
      -webkit-transform:translate(-50%,-50%);
      position:absolute;
      height:20px;
      left:50%;
    }
  }
}
$(document).ready(function() {
if ($(".container_carru").html() != null)  {
var objects = $(".container_carru #items img");
var items = $(".container_carru #items img").length - 1;
var i = 0;
$(".container_carru #items img").each(function (index) { 
     if (i == 0) {
     	$(this).addClass('img_left');
     }else if (i == 1) {
        $(this).addClass('img_center');
     }else if (i == 2) {
       $(this).addClass('img_rigth');
     };
     i++;
}); 
var dataimg_Cen = 1;
$("#arrowleft").on( "click", function( event ) {
$(".container_carru #items img").attr('class', '');
	if (dataimg_Cen == 0) {
		dataimg_left = items;
	}else{
		dataimg_left = dataimg_Cen - 1;
	};
	if (dataimg_left == 0) {
		dataimg_rigth = items;
	}else{
		dataimg_rigth = dataimg_left - 1;
	};
	  //center
	  img_center = $(objects[dataimg_Cen]);
	  img_center.addClass('animaterigthR');
	  img_center.addClass("img_rigth");
	  //left 
	  img_left =  $(objects[dataimg_left]);
	  img_left.addClass("animaterigthC");
	  img_left.addClass("img_center");
	  //rigght
	  img_rigth =  $(objects[dataimg_rigth]);
	  img_rigth.addClass("animaterigthL");
      img_rigth.addClass("img_left");
      if (dataimg_Cen == 0) {
	      dataimg_Cen = items; 
		  }else{
		  	dataimg_Cen = dataimg_Cen - 1;
	   }; 
  });
  //izquierdo
 $("#arrowrigth").on( "click", function( event ) {
     $(".container_carru #items img").attr('class', '');
	if (dataimg_Cen == items) {
		dataimg_rigth = 0;
	}else{
		dataimg_rigth = dataimg_Cen + 1;
	};
	if (dataimg_rigth == items) {
		dataimg_left = 0;
	}else{
		dataimg_left = dataimg_rigth + 1;
	};
    //center
	  img_center = $(objects[dataimg_Cen]);
	  img_center.addClass('animateleftL');
	  img_center.addClass("img_left");
	  // //  //left 
	  img_left =  $(objects[dataimg_left]);
	  img_left.addClass("animateleftR");
	  img_left.addClass("img_rigth");
	  // // // //rigght
	  img_rigth =  $(objects[dataimg_rigth]);
      img_rigth.addClass("animateleftC");
      img_rigth.addClass("img_center");
      //
      if(dataimg_Cen == items) {
	      dataimg_Cen = 0;
		  }else{
	  	  dataimg_Cen = dataimg_Cen + 1;
	  }; 
  });
//sweet
var myElement = document.getElementsByClassName('container_carru')[0];
var mc = new Hammer(myElement);
mc.on("swipeleft", function(ev) {
     $("#arrowrigth" ).trigger( "click" );
});
mc.on("swiperight", function(ev) {
     $("#arrowleft" ).trigger( "click" );
});
}
});